# macOS
.DS_Store

# Xcode
xcuserdata/
*.xcuserstate
*.xcscmblueprint
*.xcscheme
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/

# Build outputs
build/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods (if used later)
Pods/
*.xcworkspace

# Fastlane (if used later)
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output